body > footer {
  position: relative;

  padding-right: unset;
  padding-left: unset;

  margin-bottom: unset;
  margin-top: auto;

  display: flex;

  @extend .fill-available;

  @include media("min", "md") {
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
    flex-wrap: wrap;
  }

  @include media("max", "md") {
    flex-direction: column;
    row-gap: 0.5rem;
  }

  nav {
    position: relative;

    align-items: center;
    column-gap: 1.5rem;
    flex-wrap: wrap;
    display: flex;

    ul {
      list-style: none;

      padding-bottom: unset;
      padding-right: unset;
      padding-left: unset;
      padding-top: unset;

      margin-bottom: unset;
      margin-right: unset;
      margin-left: unset;
      margin-top: unset;

      align-items: center;
      column-gap: 1.5rem;
      flex-wrap: wrap;
      display: flex;

      li {
        color: var(--color-description);
        @extend .user-select-none;

        a {
          color: var(--color-description);

          &.hover,
          &:hover {
            color: var(--color-link);
          }
        }
      }
    }
  }

  p {
    color: var(--color-description);

    @extend .user-select-none;

    a {
      color: var(--color-description);

      &.hover,
      &:hover {
        color: var(--color-link);
      }
    }
  }

  .scroller-status {
    display: none;
  }
  
  .infinite-scroll-request {
    position: absolute;
  
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  
    justify-content: center;
    align-items: center;
    display: flex;
  
    svg {
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 2s;
      animation-name: spin;
    }
  }
}