nav.pagination {
  position: relative;

  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  display: flex;

  @extend .inner;

  a {
    font-size: 1.125rem;
    color: var(--color-description);

    &.hover,
    &:hover {
      color: var(--color-link);
    }

    &:first-of-type {
      text-align: left;
    }
    &:last-of-type {
      text-align: right;
    }
  }
}

nav.post-pagination {
  position: relative;

  @include media("min", "md") {
    justify-content: center;
    column-gap: 1rem;
  }
  @include media("max", "md") {
    flex-direction: column;
    row-gap: 0.5rem;
  }

  display: flex;

  @extend .user-select-none;
  @extend .wrapper;

  a {
    font-size: 1.125rem;
    color: var(--color-description);

    &.hover,
    &:hover {
      color: var(--color-link);
    }

    &:first-of-type {
      @include media("min", "md") {
        text-align: left;
      }
    }
    &:last-of-type {
      @include media("min", "md") {
        text-align: right;
      }
    }
  }
}