@use "sass:color";
@use "_variables";
@use "_mixin";

html {
  overflow-x: hidden;

  background-color: var(--body-background-color);
  color: var(--body-text-color);

  min-width: 100vw;
}

body {
  font-feature-settings: "case" 0, "cpsp" 0, "dlig" 0, "frac" 0, "dnom" 0, "numr" 0, "salt" 0, "subs" 0, "sups" 0, "tnum" 0, "zero" 0, "ss01" 0, "ss02" 0, "ss03" 0, "ss04" 0, "cv01" 0, "cv02" 0, "cv03" 0, "cv04" 0, "cv05" 0, "cv06" 0, "cv07" 0, "cv08" 0, "cv09" 0, "cv10" 0, "cv11" 0, "calt", "ccmp", "kern";
  font-family: var(--font-family);

  cursor: default;

  padding-bottom: 2rem;
  padding-right: var(--body-margin);
  padding-left: var(--body-margin);
  padding-top: 1.2rem;

  margin-bottom: unset;
  margin-right: unset;
  margin-left: unset;
  margin-top: unset;

  min-height: 100vh;

  row-gap: var(--main-gap);
  flex-direction: column;
  align-items: center;
  display: flex;

  overflow-x: hidden;
}

::selection {
  background-color: var(--color-mark);
  color: var(--color-black);

  -webkit-box-decoration-break: clone;
  -moz-box-decoration-break: clone;
  box-decoration-break: clone;
}

a {
  -webkit-transition: text-decoration-color .2s ease, border-color .2s ease, background-color .2s ease, color .2s ease, opacity .2s ease;
  -moz-transition: text-decoration-color .2s ease, border-color .2s ease, background-color .2s ease, color .2s ease, opacity .2s ease;
  transition: text-decoration-color .2s ease, border-color .2s ease, background-color .2s ease, color .2s ease, opacity .2s ease;

  text-decoration: none;
  outline: 0;

  color: var(--body-text-color);

  &.hover,
  &:hover {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  text-rendering: optimizeLegibility;

  font-weight: var(--article-title-font-weight);
}

h1 {
  &::first-letter {
    margin-left: -1.5px;
  }
}

section.introduction {
  position: relative;

  flex-direction: column;
  align-items: center;
  display: flex;

  @extend .fill-available;

  & > * {
    max-width: var(--wrapper);

    @extend .fill-available;
  }

  & > h1 {
    font-weight: var(--article-title-font-weight);
    color: var(--body-text-color);

    font-weight: var(--article-title-font-weight);
    font-size: var(--article-title-font-size);

    line-height: var(--article-title-line-height);

    @extend .user-select-none;
    @extend .tag-colors;

    sup {
      vertical-align: super;
      font-size: 1.5rem;
      font-weight: 500;

      color: var(--color-description);
    }

    & + p {
      margin-top: calc(var(--article-margin) / 2);
    }
  }

  & > p {
    font-size: calc(var(--article-font-size) + 0.25rem);
    line-height: var(--article-line-height);

    color: var(--color-description);
    
    @extend .user-select-none;
    @extend .extend;
  }
}

article.welcome {
  position: relative;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;

  @extend .fill-available;

  & > * {
    max-width: var(--inner);
    @extend .fill-available;
  }

  @include mixin.media("min", "md") {
    min-height: calc(100vh - calc(var(--main-gap) + var(--main-gap) + 7.375rem));
  }
  @include mixin.media("max", "md") {
    min-height: calc(100vh - calc(var(--main-gap) + var(--main-gap) + 9.5625rem));
  }

  p {
    line-height: var(--article-line-height);
    font-size: var(--article-font-size);

    text-align: center;

    a {
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-color: color.adjust(variables.$color-link, $alpha: -0.7);
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;

      color: var(--color-link);

      &:hover,
      &.hover {
        text-decoration-color: color.adjust(variables.$color-link-hover, $alpha: -0.7);
        color: var(--color-link-hover);
      }
    }
  }
}